#about-us {
    padding: 50px 20px;
    background: linear-gradient(135deg, #e0eafc, #cfdef3); /* Degradado suave de fondo */
    color: #333;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #120436; /* Cambiado a la paleta */
    transition: color 0.3s ease;
}

h1:hover {
    color: #FF6347; /* Cambia a un color atractivo al pasar el ratón */
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-text {
    flex: 1;
    padding: 20px;
    text-align: justify;
    transition: transform 0.3s ease;
}

.about-text:hover {
    transform: scale(1.02); /* Efecto de zoom al pasar el ratón */
}

.about-text h2 {
    font-size: 2rem;
    color: #120436; /* Mantenido el color de la paleta */
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.about-text h2:hover {
    color: #FF6347; /* Cambia a un color atractivo al pasar el ratón */
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 15px;
}

.about-image {
    flex: 1;
    padding: 20px;
    transition: transform 0.3s ease;
}

.about-image:hover {
    transform: scale(1.05); /* Efecto de zoom en la imagen */
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.about-image img:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Efecto de sombra al pasar el ratón */
}

@media (max-width: 900px) {
    .about-content {
        flex-direction: column;
    }
    
    .about-text,
    .about-image {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
}
